.heading{
    font-size: 22px;
    width: 80%;
    font-family: 'Dancing Script', cursive;
}
body{
    background-color: goldenrod;
    font-weight: bold;

}
#camera{
    width: 300px;
    height: 300px;
}
#object_name,#object_accuracy{
    color: rgb(252, 252, 252);
    font-weight: bold;
}
#button2,#button1{
    background-color: darkorange;
    font-size: 20px;
    font-weight: bold;
    border-width: 2px;
    border-color: black;
}
#p1{
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}